.cache
.git
.gitignore
.omx
.pytest_cache
.ruff_cache
.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.so

.dstack*.yml
.lid-*.yml
.tmp
tmp
build
dist
htmlcov
.coverage

final_output
data
*.parquet
*.jsonl
*.log

r2
infra/credentials
infra/current-machine
infra/.current-machine
